<div class="concejo-container">
    <h2 class="concejo-title">Concejo Municipal</h2>
    <div class="concejo-cards">
      <div class="card">
        <img src="assets/images/Cristian.jpg" alt="Miembro 1" class="card-image">
        <div class="card-content">
          <h3 class="member-name">CRISTIAN ALEJANDRO MORALES OPAZO</h3>
          <a href="mailto:cmorales@chanco.cl" class="member-email">cmorales&#64;chanco.cl</a>
          <p class="member-other">Afiliación Política: IND</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Jonatan.jpg" alt="Miembro 2" class="card-image">
        <div class="card-content">
          <h3 class="member-name">JONATAN ESTEBAN FIGUEROA MEZA</h3>
          <a href="mailto:jfigueroa@chanco.cl" class="member-email">jfigueroa&#64;chanco.cl</a>
          <p class="member-other">Afiliación Política: RADICALL (IND)</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Victor.jpg" alt="Miembro 3" class="card-image">
        <div class="card-content">
          <h3 class="member-name">VICTOR MANUEL VASQUEZ PEREZ</h3>
          <a href="mailto:cvvasquez@chanco.cl" class="member-email">cvvasquez&#64;chanco.cl</a>
          <p class="member-other">Afiliación Política: IND</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Cecilia.jpg" alt="Miembro 4" class="card-image">
        <div class="card-content">
          <h3 class="member-name">CECILIA DEL CARMEN HERIQUEZ MORAGA</h3>
          <a href="mailto:cheriquez@chanco.cl" class="member-email">cheriquez&#64;chanco.cl</a>
          <p class="member-other">Afiliación Política: RN/IND</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Maria.jpg" alt="Miembro 5" class="card-image">
        <div class="card-content">
          <h3 class="member-name">MARIA VIVIAM PEREZ GUAJARDO</h3>
          <a href="mailto:mperez@chanco.cl" class="member-email">mperez&#64;chanco.cl</a>
          <p class="member-other">Afiliación Política: IND</p>
        </div>
      </div>
    </div>
  </div>
  