<div class="mission-vision-container">
    <h1 class="pladeco-title">
        El Plan de Desarrollo Comunal (PLADECO) es uno de los instrumentos de planificación de la ciudad.
      </h1>      
    <div class="mission-card">
      <h2 class="mission-title">Nuestra Misión</h2>
      <p class="mission-description">
        “La Misión de la Ilustre Municipalidad de Chanco es ser eficientes en la gestión, incorporando mejores tecnologías, buenas prácticas y un sello basado en la identidad local, para entregar un servicio de calidad cercano a la comunidad”.
    </p>
    </div>
  
    <div class="vision-card">
      <h2 class="vision-title">Nuestra Visión</h2>
      <p class="vision-description">
        “Chanco se proyecta como un importante polo de desarrollo turístico del territorio Maule Sur, que atrae por conservar su identidad cultural, paisaje y patrimonio, desarrollando su infraestructura y economía de manera sustentable”.      </p>
    </div>
  
    <a target="_blank" class="btn-with-icon" href="https://drive.google.com/file/d/1uxj_xJpz0nVKNPmicAh3MQJkTW8SDH0e/view">
        <i class="fas fa-book"></i> Ver más sobre la misión y visión
    </a>
  </div>
  