/* ---------------------------------- 
   Estilos Generales 
---------------------------------- */
h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center; 
    color: var(--color-text);
}

h2 {
    text-align: center;
    font-weight: bold;
    color: var(--color-text);
}


/* ---------------------------------- 
   Estilos del Contenedor Principal 
---------------------------------- */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------- 
   Estilos de la Descripción 
---------------------------------- */
.description p {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

/* ---------------------------------- 
   Estilos de Eventos Históricos 
---------------------------------- */
.historical-events {
    margin-top: 20px;
}

.historical-events h2 {
    margin-top: 0;
    font-size: 2em;
}

.historical-events ul {
    list-style-type: none;
    padding: 0;
}

.historical-events li {
    background: #e7f3ff;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid var(--border-color);
    transition: background 0.3s, transform 0.3s;
}

.historical-events li:hover {
    background: #d1e7ff;
    transform: translateY(-2px);
}

/* ---------------------------------- 
   Estilos del Contenedor de Imágenes 
---------------------------------- */
.image-container {
    margin: 170px 0;
}

@media screen and (max-width: 768px) {
    .image-container {
        margin: 250px 0;
    }
    
}


/* ---------------------------------- 
   Estilos de la Galería 
---------------------------------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.gallery-item {
    margin: 10px;
    flex: 0 1 calc(25% - 20px);
}

.gallery-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}
