<section class="image-container">
    <h1>Imágenes de Chanco</h1>
    <div class="gallery">
        <div class="gallery-item">
            <div class="gallery-img" style="background-image: url('assets/images/chancoImg1.jpg');"></div>
        </div>
        <div class="gallery-item">
            <div class="gallery-img" style="background-image: url('assets/images/chancoimg2.jpg');"></div>
        </div>
        <div class="gallery-item">
            <div class="gallery-img" style="background-image: url('assets/images/chancoImg3.jpg');"></div>
        </div>
        <div class="gallery-item">
            <div class="gallery-img" style="background-image: url('assets/images/chancoImg4.jpg');"></div>
        </div>
    </div>
</section>

<main>
    <h2>Historia de Chanco</h2>
    <section class="description">
        <p><strong>Chanco</strong> en lengua nativa quiere decir <strong>brazo de un río o charco de agua</strong>, los primeros habitantes de esta localidad debieron ser <strong>pescadores nómades</strong> que iban avanzando por las caletas costeras en busca de alimento, cazadores y recolectores de frutos silvestres.</p>
        <p>Durante la época de la <strong>colonia</strong> y <strong>conquista de Chile</strong> se realizaron en la zona las <strong>campañas de verano y primavera</strong> que prepararían a los soldados para las batallas que se efectuaban al sur del Bío Bío. Este marco da un ambiente de <strong>mestizaje</strong> no sólo racial, sino también de tipo cultural, el cual se aprecia actualmente en el <strong>lenguaje y alimentación</strong> de la comuna.</p>
        <p>Los primeros antecedentes de la comuna de Chanco datan de <strong>1669</strong>, existiendo en sus tierras abundancia de <strong>cereales, charqui, cueros curtidos, maderas nativas y quesos</strong>, estos últimos por su exquisitez eran solicitados ampliamente por los europeos, quienes accedieron a dicho producto debido a los <strong>marineros</strong> que volvieron a Europa.</p>
        <p>A partir de <strong>1780</strong> el panorama promisorio de la comuna fue cambiando, el viento sur-oeste hizo avanzar las <strong>arenas del emplayamiento</strong> de la bahía de Fox hacia el pueblo lo que transcurrió con más fuerza hacia <strong>1830</strong>, fecha en que la arena cubrió casi la totalidad de las vegas. Frente a esta situación el gobierno de la época contrató al botánico Alemán <strong>Federico Albert Faupp</strong>, para que llevara a cabo un trabajo de control de dunas. El estudio y trabajo de este científico dio pronto resultados, hacia el año <strong>1900</strong> y mediante un interesante método logró detener el avance de la duna y entregar así a la comunidad <strong>beneficios y resultados</strong> que permanecen hasta hoy en la <strong>Reserva Nacional</strong> que lleva su nombre, la cual es administrada por CONAF y cuya existencia ha protegido por años a Chanco de la amenaza permanente que implican las dunas.</p>
        <p>La región del <strong>Maule</strong> está marcada por paisajes, naturaleza, y por costumbres propias al hombre de campo, unido esto a una fuerte vocación <strong>agraria</strong> como sustento de su economía. El origen de esta vocación, como en el resto de Chile, tiene su razón de ser en el período de la conquista, debido a que nuestro país, al carecer de yacimientos de oro, los españoles debieron cambiar su proyecto de explotación mineral por el de explotación de la tierra.</p>
        <p>Siguiendo con esta tradición agrícola y particularmente en Chanco, la actividad tuvo en sus primeros años un fuerte impulso, el cual se vio mermado por el avance de la duna, dejando pocos terrenos disponibles y óptimos para la actividad.</p>
        <p>En la actualidad la comuna posee un gran número de terrenos asociados a la actividad <strong>forestal</strong>, la cual se basa principalmente en la <strong>recolección de callampas</strong> y en la producción de <strong>leña y carbón</strong>, efectuada esta última, tanto por hombres como por mujeres, constituyéndose en un trabajo de tipo <strong>estacional</strong>.</p>
        <p>La evolución social de Chanco ha ido de la mano con la presencia y labor de la <strong>iglesia católica</strong>, la cual tiene sus inicios en el asentamiento español a comienzos del <strong>siglo XVII</strong>. Dichas familias llegaron en gran número transformando a Chanco en el pueblo más importante del corregimiento de Maule Sur, impulsando así la <strong>vida social</strong> de esta localidad y conjuntamente con ello fuertes <strong>tradiciones religiosas</strong> que se conservan hasta hoy como la fiesta de la <strong>Virgen de la Candelaria</strong> que se conmemora cada mes de febrero y que congrega a un gran número de fieles de toda la comuna. Además de ello se celebra en igual mes el <strong>Festival Guadalupe del Carmen</strong>, festividad fuertemente arraigada en los habitantes de la comuna que gira en torno al folclore y música de México.</p>
        <p>Chanco es comuna de mar lo cual queda de manifiesto en la localidad de <strong>Loanco</strong> y en la playa <strong>el monolito</strong> ubicada a 3 km del centro de la ciudad, de campo, de bosques con un <strong>21%</strong> del total de la población rural.</p>
    </section>
    <section class="historical-events">
        <h2>Hitos Históricos</h2>
        <ul>
            <li>El <strong>31 de julio de 1849</strong> recibe el título de villa, por acuerdo de la municipalidad departamental.</li>
            <li>El <strong>15 de julio de 1872</strong> se le confirmó el título de Villa por Decreto.</li>
            <li>El <strong>21 de enero de 1902</strong> se le otorgó la calidad de ciudad.</li>
            <li>En el año <strong>2002</strong>, fue declarada <strong>Zona Típica</strong>, debido a sus construcciones de adobe.</li>
            <li>En la actualidad, Chanco, es la capital de la comuna del mismo nombre, creada el <strong>21 de septiembre de 1979</strong> mediante D.L. n° 2868 y publicado en el diario oficial el <strong>26 de octubre del mismo año</strong>, como una de las tres en que se divide la provincia de Cauquenes continuadora de la antigua Maule.</li>
        </ul>
    </section>
</main>