<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="/home"><img src="assets/images/chancoWeb.png" alt="Logo"></a>
    </div>
    <a class="btn" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="nav-links" [ngClass]="{'show': menuVisible}">
      <li>
        <a class="nav-button" [routerLink]="'/home'" (click)="closeMenu()">
          <i class="fas fa-home"></i> Inicio
        </a>
      </li>
      <li>
        <a class="nav-button" [routerLink]="'/news'" (click)="closeMenu()">
          <i class="fas fa-newspaper"></i> Noticias
        </a>
      </li>
      <li class="dropdown">
        <a [routerLink]="'/history'" class="dropbtn" (click)="closeMenu()">
          <i class="fas fa-landmark"></i> Comuna
        </a>
        <div class="dropdown-content">
          <a [routerLink]="'/history'" (click)="closeMenu()"><i class="fas fa-history"></i> Chanco Histórico</a>
          <a [routerLink]="'/pladeco'" (click)="closeMenu()"><i class="fas fa-file-alt"></i> Pladeco</a>
        </div>
      </li>
      <li class="dropdown">
        <a [routerLink]="'/alcalde'" class="dropbtn" (click)="closeMenu()">
          <i class="fas fa-city"></i> Municipal
        </a>
        <div class="dropdown-content">
          <a [routerLink]="'/alcalde'" (click)="closeMenu()"><i class="fas fa-user-tie"></i> Alcalde</a>
          <a [routerLink]="'/concejo'" (click)="closeMenu()"><i class="fas fa-users"></i> Concejo Municipal</a>
          <a [routerLink]="'/organigrama'" (click)="closeMenu()"><i class="fas fa-sitemap"></i> Organigrama Municipal</a>
        </div>
      </li>
      <li>
        <a target="_blank" class="nav-button" href="https://daemchanco.cl/" (click)="closeMenu()"><i class="fas fa-book"></i> DAEM</a>
      </li>
      <li>
        <a target="_blank" class="nav-button" [routerLink]="'/contact'" (click)="closeMenu()"><i class="fas fa-address-book"></i> Contacto</a>
      </li>
    </ul> 
  </div>
</nav>
