

<div class="band">
  <div class="welcome-banner">
    <h2 class="welcome-title">Bienvenidos a nuestro Boletín</h2>
    <p class="welcome-description">Entérate de las últimas novedades y eventos de nuestra comunidad.</p>
  </div>
  
  <button (click)="sortArticlesByDate()">
    Ordenar por fecha {{ ascending ? 'Descendente' : 'Ascendente' }}
  </button>



  <div *ngFor="let item of articles" class="item-{{item.id}}">
    <div class="card" (click)="goToNewsDetail(item.id)">
      <img [src]="item.image" class="card__image" alt="{{item.title}}" />
      <div class="card__content">
        <time class="card__date">{{ item.displayDate }}</time>
        <span class="card__title">{{ item.title }}</span>
      </div>
    </div>
  </div>
</div>
