<footer class="footer-distributed">
  <div class="footer-left">
    <img class="logo-footer" src="assets/images/chancoWeb.png" alt="Logo" />

    <p class="footer-links">
      <a href="#" class="link-1">Inicio</a>

      <a href="#">Noticias</a>

      <a href="#">Historia</a>

    </p>

    <p class="footer-company-name">
      Copyright &copy; Jeremías Meza y Nicolás Villarroel
    </p>
  </div>

  <div class="footer-center">
    <div>
      <p>
        Mesa central: 73-2636600 <br /> <br>
        Emergencia: +569-4223-2848 <br> <br>
        Contáctanos: alcaldiachanco.cl <br>
      </p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Sobre nosotros</span>
      Chanco ofrece un refugio tranquilo lejos del bullicio de las grandes
      ciudades.
    </p>

    <div class="social-container">
        <a href="https://www.facebook.com/municipalidadchanco" class="social-link">
            <img class="social-icon" src="assets/images/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.youtube.com/user/chancocl" class="social-link">
            <img class="social-icon" src="assets/images/youtube.png" alt="YouTube">
        </a>
        <a href="https://www.instagram.com/munichanco/" class="social-link">
            <img class="social-icon" src="assets/images/instagram.png" alt="Instagram">
        </a>
    </div>
  </div>
</footer>
