<nav class="top-navbar">
    <div class="top-navbar-container">
      <div class="top-navbar-links">
        <a href="#" class="top-nav-link">Transparencia Activa <br><span>Ley de Transparencia</span></a>
        <a href="#" class="top-nav-link">Solicitar Información <br><span>Ley de Transparencia</span></a>
        <a href="#" class="top-nav-link">Plataforma <br><span>Ley del Lobby</span></a>
      </div>
      <div class="top-navbar-contact">
        <a href="tel:73-2636600" class="top-nav-phone">Teléfonos Municipales <span>73-2636600</span></a>
      </div>
      <div class="top-navbar-social">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </nav>
  